
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');


*{
margin: 0px;
padding: 0px;
box-sizing: border-box;
}
p{
  margin: 0px;
 }
.Client {
  background-color: #261234;
  padding: 80px;
}

.Client figure {
  width: 100%;
}

.Client img {
  width: 100%;
}

.Client figure i {
  color: #FFE24B;

}
.Client .star img {
  width: 20px;
  height: 20px;
}
.Client .star {
  padding: 0px !important;
}
.Client .star figure{
  margin-top: 20px;
}
.Client .star h4{
  font-size: 24px;
  font-family: "Public Sans", sans-serif;
  color: white;
}
.Client .star p{
  font-size: 16px;
  font-family: "Public Sans", sans-serif;
  color: #D9D9D9;
  width: 100%;
}
.Client .col-lg-4 div {
  background-color: #3d2b48;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 10px;
}